body { margin: 0; 
       padding: 30px; 
       font-family: Arial, sans-serif;
       font-size: 16px;
       line-height: 1.6;
       color: #333333;
       background-color: #f4f6f8;
        }
    h1 {
        text-align: center;
        font-family: "Dancing Script", cursive;
        font-size: 48px;
        color: #243b53;
        margin-bottom:10px;
    }

h2{
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: #52606d;
    margin-top: 0;
    margin-bottom: 30px;
}

h3 { 
font-size: 22px;
color: #243b53;
text-align: center;
margin-top: 30px;
margin-bottom: 10px; 
 }


h4 {
    font-size: 26px;
    color: #243b53;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h5 { 
font-size: 24px;
color: #243b53;
margin-top: 0;
margin-bottom: 20px; 
 }

nav { 
text-align: center;
margin-bottom: 30px;
 }

 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 nav li { 
 display: inline-block;
 margin: 0 15px;
  }

#routine {
    max-width: 600px;
    margin: 0 auto;
}

#routine ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#routine li {
    padding: 20px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 6px;
}

#add {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
}

#add input,
#add select,
#add textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#add li {
    margin-bottom: 10px;
}

#categories {
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
}

#categories h6 { 
font-size: 22px; 
color: #243b53;
margin-bottom: 15px;
 }


 nav a {
    color: #243b53;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
 }

 nav a:hover { 
 color: #52606d;
 text-decoration: underline;
  }

  main {
    padding-bottom: 40px;

  }

  #add { 
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
   }

   #add p {
    font-size: 18px;
    font-weight: bold; 
    color: #52606d; 
    margin-bottom: 20px;
   }

#add ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

#add li { 
margin-bottom: 15px;
 }

 #add input, 
 #add select, 
 #add textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-left: 5px;
    border: 1px solid #b8c2cc;
    border-radius: 5px;
 }

 #categories {
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;

 }
img {
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
